{
    "bot_token": "<your token here>",
    "lottery":{
        "enabled": true,
        "odds": 200,
        "multiplier": 10
    },
    "reputation":{
        "minipositive": [".+", "miniplus", "mini+", "dotplus", "dp"],
        "positive": ["+", "+1", "plus"],
        "megapositive": ["++", "+2", "megaplus", "mega+"],
        "mininegative": [".-", "miniminus", "mini-", "dotminus", "dm"],
        "negative": ["-", "-1", "minus"],
        "meganegative": ["--", "-2", "megaminus", "mega-"],
        "ignorelist": []
    },
    "persistence":{
        "backend": "postgres",
        "postgres_host": "localhost",
        "postgres_port": 5432,
        "postgres_username": "niscoin",
        "postgres_password": "niscoin",
        "postgres_database": "telegres",
        "postgres_schema": "niscoin"
    }
}